<h1 class="mt-5">Series</h1>
<%# Enlaces a serie, movie y documentary_film %>
<nav class="mb-5">
  <%= link_to 'Películas', movie_path, class:"btn btn-outline-dark my-2" %>
  <%= link_to "Series", serie_path, class: "btn btn-outline-dark my-2 active" %>
  <%= link_to "Documentales", documentary_film_path, class: "btn btn-outline-dark my-2" %>
</nav>
<%# Button to create a new Documentary Film %>
<div>
  <%= link_to "Registrar Nueva Serie ", serie_new_path, class: "btn btn-primary my-2" %>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
  <% @serie.each do |serie| %>
    <div class="col">
      <div class="card h-100">
        <h2 class="m-3 h-100 text-center"><%= serie.name %></h2>
        <div class="card-body">
          <h3 class="h6 card-title">Sinopsis</h3>
          <p class="card-text"><%= serie.synopsis %></p>
          <p class="small">Director: <%= serie.director %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
