<h1 class="my-5">Nueva Serie</h1>
<h2> Ingresa los datos de la nueva serie</h2>
<%= form_with model: @serie, class: "my-5",method: :post do |form|%>
  <div class="col-6">
    <div class="my-2">
      <%= form.label :name, "Nombre", class: "form-label" %>
      <%= form.text_field :name, class: "form-control", required:'true'%>
    </div>
    <div class="my-2">
      <%= form.label :synopsis, "Sinopsis", class: "form-label"%>
      <%= form.text_field :synopsis, class: "form-control", required:'true' %>
    </div>
    <div class="my-2">
      <%= form.label :director, "Director", class: "form-label"%>
      <%= form.text_field :director, class: "form-control", required:'true' %>
    </div>
    <div class="my-3">
      <%= form.submit "Registrar", class: "btn btn-primary" %>
      <%# Botón para regresar a index %>
      <%= link_to "Cancelar", serie_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>